server-resource-packs
usernamecache.json
optionsshaders.txt
moreplayermodels
otyacraftengine
defaultconfigs
usercache.json
crash-reports
.sl_password
screenshots
schematics
*.toml.bak
*.dat_old
saves
local
*.bak
logs
pregen/supporters.json
optionsof.txt
config/bettervillage_general_.properties
options.txt